/* styles/modal.css */
.modal-overlay-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeIn 0.2s ease-in;
   z-index: 10000; /* Much higher than overlay's z-index: 3 */
  pointer-events: auto; /* Ensure it can receive clicks */
}

.modal-content-login {
  background: #fff;
  border-radius: 12px;
  padding: 2rem;
  text-align: center;
  width: 320px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  color:black;
}

.modal-buttons-login {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.modal-buttons-login .primary-btn {
  background: #7c3aed;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.modal-buttons-login button:hover {
  opacity: 0.9;
}
