.adv-overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.45);
  padding: 1rem;
  border-radius: 10px;
  color: white;
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 10;
}

.adv-btn {
  background: #333;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.adv-block {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.adv-slider {
  width: 100%;
  cursor: pointer;
}
