.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}

.main-content-layout {
  flex: 1; /* allow footer to sit below */
  display: flex;
  flex-direction: column;

   /* min-height: 80vh;  */
   
}
