.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: white;
  padding: 15px 50px;
  font-family: "Poppins", sans-serif;
}

.nav-logo a {
  color: #00c6ff;
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: none;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #00c6ff;
}

.register-btn {
  background: #00c6ff;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 600;
  margin-left: 15px;
}

.logout-btn {
  background: transparent;
  border: 1px solid #00c6ff;
  color: #00c6ff;
  border-radius: 20px;
  padding: 6px 14px;
  cursor: pointer;
  font-weight: 600;
  margin-left: 15px;
}
.logout-btn:hover {
  background: #00c6ff;
  color: white;
}
